@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .text-center {
            padding: 100px 0;
        }

        .display-4 {
            font-size: 3rem;
            color: #333;
            margin-bottom: 20px;
        }

        .jumbotron {
            background-color: #081d44; 
            color: #fff;
            padding: 50px;
            border-radius: 0;
        }

            .jumbotron h1, .jumbotron p {
                color: #ffc107; 
            }
    </style>

</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome to Our Employee Management System</h1>
        <p>We're excited to have you here!</p>
        <img src="https://picsum.photos/id/1/400/350" alt="Employee Management System" style="max-width: 100%;">
    </div>
</body>
</html>
